//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 07 11:02:16 2016
//! **************************************************************************

SCHEMATIC START;
COMP "out" LOCATE = SITE "P119" LEVEL 1;
SCHEMATIC END;

