//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 01 16:05:27 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "Dout<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "Dout<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "Dout<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "Dout<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "Dout<4>" LOCATE = SITE "P79" LEVEL 1;
COMP "Dout<5>" LOCATE = SITE "P81" LEVEL 1;
COMP "Dout<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "Dout<7>" LOCATE = SITE "P82" LEVEL 1;
COMP "Dout<8>" LOCATE = SITE "P10" LEVEL 1;
COMP "CE_n" LOCATE = SITE "P26" LEVEL 1;
COMP "Dout<9>" LOCATE = SITE "P8" LEVEL 1;
COMP "LB_n" LOCATE = SITE "P11" LEVEL 1;
COMP "OE_n" LOCATE = SITE "P14" LEVEL 1;
COMP "UB_n" LOCATE = SITE "P12" LEVEL 1;
COMP "WE_n" LOCATE = SITE "P83" LEVEL 1;
COMP "Dout<10>" LOCATE = SITE "P9" LEVEL 1;
COMP "Dout<11>" LOCATE = SITE "P7" LEVEL 1;
COMP "Dout<12>" LOCATE = SITE "P100" LEVEL 1;
COMP "Dout<13>" LOCATE = SITE "P98" LEVEL 1;
COMP "Dout<14>" LOCATE = SITE "P99" LEVEL 1;
COMP "Dout<15>" LOCATE = SITE "P97" LEVEL 1;
COMP "sram_mem_addr<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "sram_mem_addr<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "sram_mem_addr<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "sram_mem_addr<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sram_mem_addr<4>" LOCATE = SITE "P23" LEVEL 1;
COMP "sram_mem_addr<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "sram_mem_addr<6>" LOCATE = SITE "P22" LEVEL 1;
COMP "sram_mem_addr<7>" LOCATE = SITE "P33" LEVEL 1;
COMP "sram_mem_addr<8>" LOCATE = SITE "P95" LEVEL 1;
COMP "sram_mem_addr<9>" LOCATE = SITE "P93" LEVEL 1;
COMP "sram_mem_addr<10>" LOCATE = SITE "P88" LEVEL 1;
COMP "sram_mem_addr<11>" LOCATE = SITE "P84" LEVEL 1;
COMP "sram_mem_addr<12>" LOCATE = SITE "P92" LEVEL 1;
COMP "sram_mem_addr<13>" LOCATE = SITE "P87" LEVEL 1;
COMP "sram_mem_addr<14>" LOCATE = SITE "P94" LEVEL 1;
COMP "sram_mem_addr<15>" LOCATE = SITE "P85" LEVEL 1;
COMP "sram_mem_addr<16>" LOCATE = SITE "P78" LEVEL 1;
COMP "sram_mem_addr<17>" LOCATE = SITE "P6" LEVEL 1;
COMP "Spi_Current_State<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "Spi_Current_State<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "Spi_Current_State<2>" LOCATE = SITE "P139" LEVEL 1;
COMP "Spi_Current_State<3>" LOCATE = SITE "P143" LEVEL 1;
COMP "Spi_Current_State<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "Spi_Current_State<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "Spi_Current_State<6>" LOCATE = SITE "P121" LEVEL 1;
COMP "Spi_Current_State<7>" LOCATE = SITE "P127" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P126" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P120" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "cpu_miso" LOCATE = SITE "P55" LEVEL 1;
COMP "cpu_sclk" LOCATE = SITE "P75" LEVEL 1;
COMP "cpu_mosi" LOCATE = SITE "P57" LEVEL 1;
COMP "cpu_irq_full" LOCATE = SITE "P101" LEVEL 1;
COMP "cpu_irq_recv" LOCATE = SITE "P61" LEVEL 1;
COMP "si4463_reset" LOCATE = SITE "P119" LEVEL 1;
COMP "si4463_miso" LOCATE = SITE "P104" LEVEL 1;
COMP "si4463_sclk" LOCATE = SITE "P105" LEVEL 1;
COMP "si4463_mosi" LOCATE = SITE "P102" LEVEL 1;
COMP "si4463_ss_n" LOCATE = SITE "P74" LEVEL 1;
COMP "si4463_irq" LOCATE = SITE "P62" LEVEL 1;
SCHEMATIC END;

