

NET "Dout[1]" LOC = AA14;
NET "Dout[2]" LOC = AB14;
NET "sram_mem_addr[6]" LOC = Y18;
NET "sram_mem_addr[9]" LOC = AB19;
NET "sram_mem_addr[7]" LOC = AA18;
NET "sram_mem_addr[8]" LOC = AB18;
NET "WE_n" LOC = Y17;
NET "sram_mem_addr[5]" LOC = AB17;
NET "Dout[5]" LOC = Y16;
NET "Dout[6]" LOC = AA16;
NET "Dout[7]" LOC = AB16;
NET "Dout[0]" LOC = Y14;
NET "Dout[3]" LOC = Y15;
NET "Dout[4]" LOC = AB15;
NET "sram_mem_addr[4]" LOC = Y13;
NET "CE_n" LOC = AB13;
NET "sram_mem_addr[2]" LOC = AA12;
NET "sram_mem_addr[3]" LOC = AB12;
NET "sram_mem_addr[10]" LOC = Y11;
NET "sram_mem_addr[0]" LOC = AB11;
NET "sram_mem_addr[1]" LOC = Y12;
NET "sram_mem_addr[11]" LOC = AB10;
NET "sram_mem_addr[12]" LOC = AA10;
NET "Dout[8]" LOC = Y9;
NET "sram_mem_addr[14]" LOC = AB9;
NET "sram_mem_addr[13]" LOC = Y10;
NET "Dout[10]" LOC = AA8;
NET "Dout[9]" LOC = AB8;
NET "Dout[13]" LOC = Y7;
NET "Dout[12]" LOC = AB7;
NET "Dout[11]" LOC = Y8;
NET "Dout[15]" LOC = AA6;
NET "Dout[14]" LOC = AB6;
NET "LB_n" LOC = Y6;
NET "OE_n" LOC = Y5;
NET "UB_n" LOC = AB5;
NET "debug_wire[0]" LOC = E1;
NET "debug_wire[1]" LOC = D1;
NET "Spi_Current_State[0]" LOC = C1;
NET "Spi_Current_State[1]" LOC = D2;
NET "Spi_Current_State[2]" LOC = F1;
NET "Spi_Current_State[3]" LOC = G1;
NET "Spi_Current_State[4]" LOC = H2;
NET "Spi_Current_State[5]" LOC = K2;
NET "Spi_Current_State[6]" LOC = F2;
NET "Spi_Current_State[7]" LOC = H1;
NET "led[0]" LOC = M1;
NET "led[1]" LOC = N1;
NET "led[2]" LOC = P1;
NET "led[3]" LOC = P2;
NET "sram_mem_addr[17]" LOC = Y3;
NET "sram_mem_addr[16]" LOC = AA4;
NET "sram_mem_addr[15]" LOC = AB4;
NET "clk" LOC = L1;
NET "cpu_irq_full" LOC = J22;
NET "cpu_irq_recv" LOC = P22;
NET "cpu_mosi" LOC = U22;
NET "cpu_miso" LOC = V22;
NET "cpu_sclk" LOC = W22;
NET "si4463_irq" LOC = M22;
NET "si4463_sclk" LOC = G22;
NET "si4463_mosi" LOC = H21;
NET "si4463_miso" LOC = H22;
NET "si4463_reset" LOC = L22;
NET "si4463_ss_n" LOC = K21;


